.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom Dark Mode Toggle Element */
#light{
  background-color: #f3ebf6;
}

#dark{
  background-color: #46045c;
  color: #f3ebf6;;
}


#dark .card{
  color: #282c34;
}

#dark .card a{
  color: #282c34!important;
}

#dark a{
  color: #f3ebf6!important;
}

.courses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

@media only screen and (max-width: 600px) {
  .courses {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
  }
}
.banner{
  width: 100%;
  height: 100vh;
  background-image: url(./assets/Carousel/slider1.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;

}

.banner::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  opacity: 0.6;
}


.banner-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}